{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <h1>USER</h1>
    <div class="row">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <p class="card-text">{{ user.email }}</p>
                    <a href="{{ path('adminDelUser', {id : user.id }) }}" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
    </div>

<hr>
    <h1>TODO</h1>
    <div class="row">
        {% for todo in todos %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ todo.description }}</h5>
                    <p class="card-text">Créer par <u>{{ todo.user.username }}</u></p>
                    <a href="{{ path('adminDelTodo', {id : todo.id }) }}" class="btn btn-danger">Supprimer</a>
                </div>
            </div>

        {% endfor %}
    </div>


{% endblock %}
