{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!{% endblock %}

{% block body %}

    <a href="{{ path("todo/",{sort:'createdAt',order:'ASC'}) }}" class="btn btn-dark"><small>{{ 'plusrecent'  | capitalize }}</small></a>
    <a href="{{ path("todo/",{sort:'createdAt',order:'DESC'}) }}" class="btn btn-dark"><small>{{ 'moinsrecent'  | capitalize }}</small></a>
    <a href="{{ path("todo/",{sort:'dueDate',order:'ASC'}) }}" class="btn btn-dark"><small>{{ 'plusurgent'  | capitalize }}</small></a>
    <a href="{{ path("todo/",{sort:'dueDate',order:'DESC'}) }}" class="btn btn-dark"><small>{{ 'moinsurgent' | capitalize }}</small></a>

    <div class="count">
       <small> Nombre de todos afficher : {{ todos.getTotalItemCount }}</small><br>
       <small>total de check : <p id="nbCheck">{{ app.user.getChecks | length }}</p> </small>
    </div>

        {% for todo in todos %}
            {% set colorClass ="bg-white" %}
            {% if todo.dueDate < date() %}
                {% set colorClass="bg-warning" %}
            {% endif %}
            <div class="row m-0 {{ colorClass }}">
                <div class="col-4 border border-primary text-dark">
                    <div class="row h-100 justify-content-center align-items-center px-2"><p>{{ todo.description }}</p>
                    </div>
                </div>
                <div class="col-4 border border-primary text-dark">
                    <div class="row h-100 justify-content-center align-items-center px-2"><p>CreatedAt : {{ todo.createAt | date('d') }}</p>
                    </div>
                </div>
                <div class="col-4 border border-primary text-dark">
                    <div class="row h-100 justify-content-center align-items-center px-2"><p>DueDate : {{ todo.dueDate | date('d M Y') }}</p>
                    </div>
                </div>

                {% if todo.checked %}
                    {% set colorCheck = "btn-danger" %}
                    {% set messageCheck = "FAIT !" %}
                {% else %}
                    {% set colorCheck = "btn-success" %}
                    {% set messageCheck = "A Faire" %}
                {% endif %}
                <a class="btn {{ colorCheck }} check" href="{{ path("check",{id:todo.id}) }}">
                    <strong>
                      <span class="checked" data-check="">
                          {{ messageCheck }}
                      </span>
                    </strong>
                </a>
            </div>

        {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(todos, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
    </div>

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


    <script>
        function cliquePourChecker(evenement){
            evenement.preventDefault();

            let url = this.href;
            let requeteAjax = new XMLHttpRequest();
            requeteAjax.open('GET',url);

            requeteAjax.onload = ()=> {
                let data = JSON.parse(requeteAjax.responseText);
                let textSpan = "";
                if(data.message == 'checked'){
                    texteSpan = "FAIT !";

                }else if(data.message == 'unchecked'){
                    texteSpan = "A Faire";
                }
                this.querySelector('.checked').innerHTML = texteSpan;
                nbCheck = data.TotoCheck;
                nbCheck = nbCheck.toString();
                console.log(data.message);
                console.log(nbCheck);
                const textCheck = document.querySelector('#nbCheck');
                textCheck.innerHTML = nbCheck;
            }
            requeteAjax.send();

        };
        document.addEventListener('DOMContentLoaded', ()=> {
            const tousMesBoutons = document.querySelectorAll('.check');
            tousMesBoutons.forEach((bouton)=>{
                bouton.addEventListener('click',cliquePourChecker)
            });
        });

    </script>

{% endblock %}
