    {% extends 'base.html.twig' %}

{% block title %}Hello TodoController!{% endblock %}

{% block body %}


                <a href="{{ path("todo/",{sort:'createdAt',order:'ASC'}) }}" class="btn btn-dark"><small>{{ 'plusrecent'  | capitalize }}</small></a>
                <a href="{{ path("todo/",{sort:'createdAt',order:'DESC'}) }}" class="btn btn-dark"><small>{{ 'moinsrecent'  | capitalize }}</small></a>
                <a href="{{ path("todo/",{sort:'dueDate',order:'ASC'}) }}" class="btn btn-dark"><small>{{ 'plusurgent'  | capitalize }}</small></a>
                <a href="{{ path("todo/",{sort:'dueDate',order:'DESC'}) }}" class="btn btn-dark"><small>{{ 'moinsurgent' | capitalize }}</small></a>

    <div class="count">
       <small> Nombre de todos afficher : {{ todos.getTotalItemCount }}</small>
    </div>

        {% for todo in todos %}
            {% set colorClass ="bg-white" %}
            {% if todo.dueDate < date() %}
                {% set colorClass="bg-warning" %}
            {% endif %}
            <div class="row m-0 {{ colorClass }}">
                <div class="col-4 border border-primary text-dark">
                    <div class="row h-100 justify-content-center align-items-center px-2"><p>{{ todo.description }}</p>
                    </div>
                </div>
                <div class="col-4 border border-primary text-dark">
                    <div class="row h-100 justify-content-center align-items-center px-2"><p>CreatedAt : {{ todo.createAt | date('d') }}</p>
                    </div>
                </div>
                <div class="col-4 border border-primary text-dark">
                    <div class="row h-100 justify-content-center align-items-center px-2"><p>DueDate : {{ todo.dueDate | date('d M Y') }}</p>
                    </div>
                </div>
            </div>

        {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(todos, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
    </div>
{% endblock %}
